body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  font-size: xx-large;
}
@media screen and (max-width: 768px) {
  a {
    font-size: large;
  }
}
.main {
  max-width: 1200px;
  margin: auto;
  padding: 25px;
}
.navList {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}
.active-link {
  color: blue;
  cursor: none;
}
.link {
  color: black;
  cursor: pointer;
}
.table {
  font-size: x-large;
  margin-top: 24px;
}
.chart {
  width: auto;
  padding-top: 50px;
}
.list ul {
  font-size: x-large;
  text-align: center;
  list-style: decimal;
}
.list li {
  text-align: left;
  padding: 10px;
}
